absl-py==0.9.0
astor==0.8.0
attrs==19.3.0
certifi==2020.4.5.1
cycler==0.10.0
gast==0.3.3
google-pasta==0.2.0
grpcio==1.27.2
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
llvmlite==0.32.1
Markdown==3.1.1
matplotlib==3.2.1
mkl-fft==1.0.15
mkl-random==1.1.1
mkl-service==2.3.0
numba==0.49.1
numpy==1.18.1
numpy-quaternion==2020.5.19.15.27.24
Pillow==7.1.2
protobuf==3.11.4
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.4.1
six==1.14.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
tqdm==4.46.0
Werkzeug==1.0.1
wrapt==1.12.1
